@import "src/styles/vars";

* {
  font-family: Montserrat, sans-serif !important;
}

.dag-modal {
  width: 80vw;
  max-width: 40rem;

  &-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding: $default-offset-one-quarter;
    border-bottom: 1px solid #F0F0F0;
  }

  &-content {
    padding: $default-offset-one-quarter;

    h4 {
      margin-bottom: $default-offset;
    }

    &-input-block {
      width: 100%;
      margin-bottom: 20px;

      label {
        display: block;
        width: 100%;
        font-size: $default-offset;
      }

      input, textarea {
        margin-top: $default-offset-half;
        width: calc(100% - 0.76rem);
        display: block;
        font-size: 0.875rem;
        background-color: #FFFFFF;
        padding: $offset-five;
        border-radius: $default-offset-quarter;
        border: 1px solid #D9D9D9;
      }

      textarea {
        resize: vertical;
        max-height: 40rem;
      }

      .input-half {
        max-width: 13rem;
      }
    }
  }

  &-footer {
    border-top: 1px solid #F0F0F0;
    padding: $default-offset-one-quarter;
    display: flex;
    justify-content: right;
    gap: $default-offset;

    &-btn {
      padding: $default-offset-half $default-offset;
      font-size: $default-offset;
      border-radius: $default-offset-quarter;
      border: none;
      outline: none;
      color: #FFFFFF;
      cursor: pointer;
    }

    &-btn:hover {
      opacity: 0.8;
    }

    .btn-red {
      background-color: #F22837;
    }
    .btn-blue {
      background-color: #3C50E0;
    }
  }
}

