$main-color: #272f3e;
$white-font-color: #f4f4f4;

$default-offset: 1rem;
$default-offset-half: $default-offset / 2;
$default-offset-quarter: $default-offset / 4;
$default-offset-large: $default-offset * 2;
