@import "src/styles/vars";

:host {
  .content {
    background-color: #e5ebf5;
    border-radius: $default-offset-half;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    margin-bottom: $default-offset;

    &-row {
      align-content: space-evenly;
      display: grid;
      grid-template-columns: 1.2fr repeat(5, 1fr);
      padding: 0 $default-offset;
      height: 100%;
    }

    .cell {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .runs-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 $default-offset-quarter;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
    }

    .total {
      border: 1px solid #8692E8;
    }

    .success {
      border: 1px solid #91D874;
    }

    .failed {
      border: 1px solid #EA6262;
    }

    .schedule, .date {
      color: #74777c;
    }

    .schedule {
      background-color: #cfd5dd;
      border-radius: 0.5rem;
      padding: $default-offset-half $default-offset-medium;
    }

    .date {
      text-decoration: underline;
    }

    .dag-row-buttons-control {
      background-color: #F1F5F9;
      border: 1px solid #D9D9D9;
      border-radius: 0;
      padding: 3px;
      text-align: center;
      width: 30px;
      font-size: 1.2em;
      cursor: pointer;
    }

    .dag-buttons {
      justify-content: right;
      padding-right: 2rem;
    }

    .dag-row-buttons-control:hover {
      background-color: #eceff1;
    }

    .btn-save {
      color: #8692E8;
    }

    .btn-start {
      color: #91D874;
    }

    .btn-delete {
      color: #EA6262;
    }
  }
}
