@import "src/styles/vars";


body {
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
}

mat-button-toggle-group {
  border-radius: $default-offset-half !important;
  height: $default-offset-large;
  align-items: center
}

.mat-button-toggle {
  &-checked {
    background-color: red;
    font-weight: bold;

    .mat-button-toggle-button {
      color:  white;
      background-color: $main-button-color;
    }
  }
}

.mat-mdc-form-field-infix {
  min-height: 2rem !important;
  max-height: 2rem !important;
  align-items: center;
  display: flex;
}

.mat-mdc-form-field-infix  {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-mdc-form-field-icon-prefix {
  align-items: center;
  display: flex;
  height: $default-offset-large;
}
